/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .SectionTestimonialPrivate{
        background-color: #F1F1F1;
        padding: 100px 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
    }
    /* The Prev and Next Buttons*/
    .SectionTestimonialPrivateBtnPrev{
        border: 0px solid transparent;
        color: transparent;
        display: none;
    }
    .SectionTestimonialPrivateBtnPrev img{
        width: 400%;
    }
    .SectionTestimonialPrivateBtnNext{
        border: 0px solid transparent;
        color: transparent;
        display: none;
    }
    .SectionTestimonialPrivateBtnNext img{
        width: 400%;
    }
    
    /* The Text Region */
    .SectionTestimonialPrivateTextRegion{
        margin-right: 40px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    
    }
    
    /* The Left and Right Quote image */
    /* .SectionTestimonialPrivateQuoteLeft{
        margin-top: -175px;
        width: 6%;
    }
    .SectionTestimonialPrivateQuoteRight{
        margin-bottom: -135px;
        width: 6%;
        
    } */
    
    /* The main Text content */
    .SectionTestimonialPrivateTextContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .SectionTestimonialPrivateTextContent h2{
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 75px;
        line-height: 80px;
        text-align: center;
        width: 100%;
    }

    .swiper {
        width: 100%;
        height: 100%;
        background-color: #F1F1F1;
      }
      
      .swiper-slide {
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 250px;
        background-color: #F1F1F1;
      }


      .SectionTestimonialPrivateBtnArrangement{
        width: 100%;
        margin-top: 10px;
 
       }
       .SectionTestimonialPrivateBtnSwiper{
         padding: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
       }
       .swiper-div{
         margin-right: 2rem;
       }
       .swiper-button-prev, .swiper-button-next{
         top: unset !important;
         left: unset !important;
         bottom: unset !important;
         right: unset !important;
         position: unset !important;
         z-index: unset !important;
         
         background-color: #977347;
         padding: 2rem;
         border-radius: 50px;
       }
       .swiper-button-prev:after, 
       .swiper-button-next:after{
         color: #fff;
         font-size: 2rem !important;
       }

      /* .swiper .swiper-button-prev, .swiper .swiper-button-next{
        color: #fff;
        background-color: #977347;
        padding: 25px;
        border-radius: 50px;
        
      } */
      
    .swiper .swiper-slide .SectionTestimonialPrivateslider{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        
    }

    

    /* The Left and Right Quote image */
    .swiper .swiper-slide .SectionTestimonialPrivateQuoteLeft{
        margin-top: 0px;
        width: 8%;

    }
    .swiper .swiper-slide .SectionTestimonialPrivateQuoteRight{
        margin-top: 200px;
        width: 8%;
    }

    .swiper .swiper-slide .SectionTestimonialPrivateslide{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;

    }

    .SectionTestimonialPrivateNormText{
        margin-bottom: 56px;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    
    }
    .SectionTestimonialPrivateTextContent h3{
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4px;
    }
    .SectionTestimonialPrivateTextContenthr{
        border: 0.5px solid #977347;
        margin-bottom: 6px;
        width: 20.5%;
    }
    
    .SectionTestimonialPrivateBrownText{
        color: #977347;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }


    /*.SectionTestimonialPrivateslider{
        overflow: hidden;
    }

    .SectionTestimonialPrivateslider ul{
        display: flex;
        width: 200%;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .SectionTestimonialPrivateslider ul li{
        list-style: none;
        width: 50%;
        padding: 20px;
    }

    .SectionTestimonialPrivateslide{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }*/
    
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .SectionTestimonialPrivate{
        background-color: #F1F1F1;
        padding: 60px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
    }
    /* The Prev and Next Buttons*/
    .SectionTestimonialPrivateBtnPrev{
        border: 0px solid transparent;
        color: transparent;
        display: none;

    }
    .SectionTestimonialPrivateBtnNext{
        border: 0px solid transparent;
        color: transparent;
        display: none;
    }
    
    /* The Text Region */
    .SectionTestimonialPrivateTextRegion{
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    
    }
    
    
    
    /* The main Text content */
    .SectionTestimonialPrivateTextContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .SectionTestimonialPrivateTextContent h2{
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        text-align: center;
        width: 100%;
    }

    .swiper {
        width: 100%;
        height: 100%;
        background-color: #F1F1F1;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 98px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 140px;
        background-color: transparent;
      }
      
      
      .SectionTestimonialPrivateBtnArrangement{
       width: 100%;
       margin-top: 10px;

      }
      .SectionTestimonialPrivateBtnSwiper{
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .swiper-div{
        margin-right: 20px;
      }
      .swiper-button-prev, .swiper-button-next{
        top: unset !important;
        left: unset !important;
        bottom: unset !important;
        right: unset !important;
        position: unset !important;
        z-index: unset !important;
        
        background-color: #977347;
        padding: 25px;
        border-radius: 50px;
      }
      .swiper-button-prev:after, 
      .swiper-button-next:after{
        color: #fff;
        font-size: 24px !important;
      }
      
      
      /* .swiper .swiper-button-prev, .swiper .swiper-button-next{
        color: #fff;
        background-color: #977347;
        padding: 25px;
        border-radius: 50px;
        
      } */

    .swiper .swiper-slide .SectionTestimonialPrivateslider{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        
    }

    

    /* The Left and Right Quote image */
    .swiper .swiper-slide .SectionTestimonialPrivateQuoteLeft{
        margin-top: 0px;
        width: 10%;

    }
    .swiper .swiper-slide .SectionTestimonialPrivateQuoteRight{
        margin-top: 150px;
        width: 10%;
    }

    .swiper .swiper-slide .SectionTestimonialPrivateslide{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;

    }
   

    .SectionTestimonialPrivateNormText{
        margin-bottom: 56px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    
    }
    .SectionTestimonialPrivateTextContent h3{
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4px;
    }
    .SectionTestimonialPrivateTextContenthr{
        border: 0.5px solid #977347;
        margin-bottom: 6px;
        width: 16.5%;
    }
    
    .SectionTestimonialPrivateBrownText{
        color: #977347;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }


    /*

    .SectionTestimonialPrivateslider ul{
        display: flex;
        align-items: start;
        justify-content: start;
        width: 200%;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .SectionTestimonialPrivateslider ul li{
        list-style: none;
        width: 100%;
        padding: 4px;
    }

    .SectionTestimonialPrivateslide{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    
    */
    
}






/* Tablets Screen - Important */
@media (max-width: 1200px){

    .SectionTestimonialPrivate{
        background-color: #F1F1F1;
        padding: 40px 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
    }
    /* The Prev and Next Buttons*/
    .SectionTestimonialPrivateBtnPrev{
        border: 0px solid transparent;
        color: transparent;
    }
    .SectionTestimonialPrivateBtnNext{
        border: 0px solid transparent;
        color: transparent;
    }
    
    /* The Text Region */
    .SectionTestimonialPrivateTextRegion{
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
    
    }
    
    /* The Left and Right Quote image */
    /* .SectionTestimonialPrivateQuoteLeft{
        margin-top: -125px;
        width: 8%;
    }
    .SectionTestimonialPrivateQuoteRight{
        margin-bottom: -45px;
        width: 8%;
        
    } */
    
    /* The main Text content */
    .SectionTestimonialPrivateTextContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 94%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .SectionTestimonialPrivateTextContent h2{
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 23px;
        line-height: 32px;
        text-align: center;
        width: 100%;
    }

    .swiper {
        width: 100%;
        height: 100%;
        background-color: #F1F1F1;
      }
      
      .swiper-slide {
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 80px;
        background-color: #F1F1F1;
      }


      .SectionTestimonialPrivateBtnArrangement{
        width: 100%;
        margin-top: 10px;
 
       }
       .SectionTestimonialPrivateBtnSwiper{
         padding: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
       }
       .swiper-div{
         margin-right: 20px;
       }
       .swiper-button-prev, .swiper-button-next{
         top: unset !important;
         left: unset !important;
         bottom: unset !important;
         right: unset !important;
         position: unset !important;
         z-index: unset !important;
         
         background-color: #977347;
         padding: 25px;
         border-radius: 50px;
       }
       .swiper-button-prev:after, 
       .swiper-button-next:after{
         color: #fff;
         font-size: 24px !important;
       }


      /* swiper .swiper-button-prev, .swiper .swiper-button-next{
        color: #fff;
        background-color: #977347;
        padding: 25px;
        border-radius: 50px;
        
      } */

    .swiper .swiper-slide .SectionTestimonialPrivateslider{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        
    }

    

    /* The Left and Right Quote image */
    .swiper .swiper-slide .SectionTestimonialPrivateQuoteLeft{
        margin-top: 0px;
        width: 40px;

    }
    .swiper .swiper-slide .SectionTestimonialPrivateQuoteRight{
        margin-top: 70px;
        width: 40px;
    }

    .swiper .swiper-slide .SectionTestimonialPrivateslide{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;

    }

    
    


    .SectionTestimonialPrivateNormText{
        margin-bottom: 36px;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
    
    }
    .SectionTestimonialPrivateTextContent h3{
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4px;
    }
    .SectionTestimonialPrivateTextContenthr{
        border: 0.5px solid #977347;
        margin-bottom: 6px;
        width: 21.5%;
    }
    
    .SectionTestimonialPrivateBrownText{
        color: #977347;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }

    /*.SectionTestimonialPrivateslider{
        overflow: hidden;
    }

    .SectionTestimonialPrivateslider ul{
        display: flex;
        width: 200%;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .SectionTestimonialPrivateslider ul li{
        list-style: none;
        width: 50%;
        padding: 20px;
    }

    .SectionTestimonialPrivateslide{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }*/
}


/* Mobile Screen - Important */
@media (max-width: 650px){

    .SectionTestimonialPrivate{
        background-color: #F1F1F1;
        padding: 24px 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -8px;
    }
    /* The Prev and Next Buttons*/
    .SectionTestimonialPrivateBtnPrev{
        border: 0px solid transparent;
        color: transparent;
        display: none;
    }
    .SectionTestimonialPrivateBtnNext{
        border: 0px solid transparent;
        color: transparent;
        display: none;
    }
    
    /* The Text Region */
    .SectionTestimonialPrivateTextRegion{
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
    
    }
    
    /* The Left and Right Quote image */
    /* .SectionTestimonialPrivateQuoteLeft{
        margin-top: -122%;
        width: 10%;
    }
    .SectionTestimonialPrivateQuoteRight{
        margin-bottom: -75%;
        width: 10%;
        
    } */
    
    /* The main Text content */
    .SectionTestimonialPrivateTextContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .SectionTestimonialPrivateTextContent h2{
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        width: 100%;
    }

    .swiper {
        width: 100%;
        height: 100%;
        background-color: #F1F1F1;
      }
      
      .swiper-slide {
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        background-color: #F1F1F1;
      }


      .SectionTestimonialPrivateBtnArrangement{
        width: 100%;
        margin-top: 0px;
 
       }
       .SectionTestimonialPrivateBtnSwiper{
         padding: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
       }
       .swiper-div{
         margin-right: 20px;
       }
       .swiper-button-prev, .swiper-button-next{
         top: unset !important;
         left: unset !important;
         bottom: unset !important;
         right: unset !important;
         position: unset !important;
         z-index: unset !important;
         
         background-color: #977347;
         padding: 25px;
         border-radius: 50px;
       }
       .swiper-button-prev:after, 
       .swiper-button-next:after{
         color: #fff;
         font-size: 24px !important;
       }



      /* swiper .swiper-button-prev, .swiper .swiper-button-next{
        color: #fff;
        background-color: #977347;
        padding: 25px;
        border-radius: 50px;
        
      } */

    .swiper .swiper-slide .SectionTestimonialPrivateslider{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        
    }

    

    /* The Left and Right Quote image */
    .swiper .swiper-slide .SectionTestimonialPrivateQuoteLeft{
        margin-top: 0%;
        width: 10%;

    }
    .swiper .swiper-slide .SectionTestimonialPrivateQuoteRight{
        margin-top: 50%;
        width: 10%;
    }

    .swiper .swiper-slide .SectionTestimonialPrivateslide{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

    }

    
    

    .SectionTestimonialPrivateNormText{
        margin-bottom: 42px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        width: 100%;
    
    }
    .SectionTestimonialPrivateTextContent h3{
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4px;
    }
    .SectionTestimonialPrivateTextContenthr{
        border: 0.5px solid #977347;
        margin-bottom: 6px;
        width: 50.5%;
    }
    
    .SectionTestimonialPrivateBrownText{
        color: #977347;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }


    /*.SectionTestimonialPrivateslider{
        overflow: hidden;
    }

    .SectionTestimonialPrivateslider ul{
        display: flex;
        width: 200%;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .SectionTestimonialPrivateslider ul li{
        list-style: none;
        width: 50%;
        padding: 20px;
    }

    .SectionTestimonialPrivateslide{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }*/

}