/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Article1Interna{
        margin-top: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
    }
    .Article1Internaimg{
        width: 100%;
    }
    .Article1InternaBigScreen{
        display: block;
    }
    .Article1InternaMobile{
        display: none;
    }
    .Article1Internaimgmobile {
        width: 100%;
        display: none;
    }

    .Article2Interna{
        margin-top: 78px;
        margin-left: 370px;
        margin-right: 370px;
        margin-bottom: 52px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .Article2Interna h1{
        color: #4A4A4A;
        font-weight: 700;
        font-size: 65px;
        text-align: center;
        margin-bottom: 15px;
    
    
    }
    .Article2InternaDate{
        color: #666666;
        font-weight: 400;
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
    
    }
    .Article2InternaP{
        color: #666666;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 26px;
    
    }
    .Article2InternaGrayBox{
        padding: 13px;
        border-radius: 16px;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        width: 70%;
    
    
    }
    .Article2InternaGrayBox img{
        margin-right: 10px;
        margin-bottom: 15px;
        width: 2%;
    
    }
    .Article2InternaGrayBox p{
        color: #666666;
        font-weight: 700;
        font-size: 24.5px;
    }

    .Article3Interna{
        margin-left: 370px;
        margin-right: 370px;
        margin-bottom: 129px;
    
    }
    .Article3Interna h2{
        margin-bottom: 16px;
        text-align: center;
        color: #4A4A4A;
        font-weight: 700;
        font-size: 65px;
    
    }
    .Article3Interna p{
        color: #666666;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
    
    }
    .Article3InternaFirstP{
        margin-bottom: 60px;
        
    
    
    }
    
    .Article3InternaRow{
        margin-bottom: 30px;
        display: flex;
        align-items: start;
    
    }
    .Article3InternaRow img{
        width: 40%;
        margin-right: 16px;
    
    }
    .Article3InternaRow p{
        width: 100%;
    
    }


    .Article4Interna{
        padding-top: 74px;
        padding-bottom: 74px;
        padding-left: 240px;
        padding-right: 240px;
        background-color: #EEE2D5;
    }
    .Article4Interna h2{
        color: #977347;
        font-weight: 700;
        font-size: 75px;
        text-align: center;
        margin-bottom: 30px;
    }
    .Article4InternaHR{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 52px;
    }
    .Article4InternaHRhr{
        border: 1.5px solid #977347;
        width: 185px;
    }
    .Article4InternaContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px; 
        width: 100%;
    
    }
    .interna-format{
        display: flex;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 25px;
    }
    .interna-format img{
        width: 50%;
        margin-right: 30px;
    
    
    }
    .interna-format div{
        width: 100%;
    
    }
    .Article4InternaTitle{
        color: #000000;
        font-weight: 700;
        font-size: 25px;
        text-align: start;
        margin-bottom: 20px;
    
    }
    .interna-format hr{
        border: 0.5px solid #977347;
        width: 48%;
        margin-bottom: 32px;
    }
    .Article4InternaDate{
        color: #666666;
        text-align: end;
        font-weight: 400;
        font-size: 25px;
    }




}




/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Article1Interna{
        margin-top: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
    }
    .Article1Internaimg{
        width: 100%;
    }
    .Article1InternaBigScreen{
        display: block;
    }
    .Article1InternaMobile{
        display: none;
    }
    .Article1Internaimgmobile {
        width: 100%;
        display: none;
    }

    .Article2Interna{
        margin-top: 38px;
        margin-left: 290px;
        margin-right: 290px;
        margin-bottom: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .Article2Interna h1{
        color: #4A4A4A;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 8px;
    
    
    }
    .Article2InternaDate{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin-bottom: 16px;
    
    }
    .Article2InternaP{
        color: #666666;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    
    }
    .Article2InternaGrayBox{
        padding: 13px;
        border-radius: 16px;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        width: 72%;
    
    
    }
    .Article2InternaGrayBox img{
        margin-right: 10px;
        margin-bottom: 15px;
    
    }
    .Article2InternaGrayBox p{
        color: #666666;
        font-weight: 700;
        font-size: 14px;
    }

    .Article3Interna{
        margin-left: 290px;
        margin-right: 290px;
        margin-bottom: 109px;
    
    }
    .Article3Interna h2{
        margin-bottom: 16px;
        text-align: center;
        color: #4A4A4A;
        font-weight: 700;
        font-size: 28px;
    
    }
    .Article3Interna p{
        color: #666666;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
    
    }
    .Article3InternaFirstP{
        margin-bottom: 40px;
        
    
    
    }
    
    .Article3InternaRow{
        margin-bottom: 20px;
        display: flex;
        align-items: start;
    
    }
    .Article3InternaRow img{
        width: 40%;
        margin-right: 16px;
    
    }
    .Article3InternaRow p{
        width: 100%;
    
    }

    .Article4Interna{
        padding-top: 34px;
        padding-bottom: 34px;
        padding-left: 200px;
        padding-right: 200px;
        background-color: #EEE2D5;
    }
    .Article4Interna h2{
        color: #977347;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }
    .Article4InternaHR{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }
    .Article4InternaHRhr{
        border: 2px solid #977347;
        width: 95px;
    }
    .Article4InternaContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; 
        width: 100%;
    
    }
    .interna-format{
        display: flex;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 16px;
    }
    .interna-format img{
        width: 50%;
        margin-right: 24px;
        border-radius: 12px;
    
    
    }
    .interna-format div{
        width: 100%;
    
    }
    .Article4InternaTitle{
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        text-align: start;
        margin-bottom: 20px;
        line-height: 20px;
    
    }
    .interna-format hr{
        border: 1.5px solid #977347;
        width: 40%;
        margin-bottom: 20px;
    }
    .Article4InternaDate{
        color: #666666;
        text-align: end;
        font-weight: 400;
        font-size: 14px;
    }
}


/* Tablets Screen - Important */
@media (max-width: 1200px){

    .Article1Interna{
        margin-top: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
    }
    .Article1Internaimg{
        width: 100%;
    }
    .Article1InternaBigScreen{
        display: block;
    }
    .Article1InternaMobile{
        display: none;
    }
    .Article1Internaimgmobile {
        width: 100%;
        display: none;
    }


    .Article2Interna{
        margin-top: 28px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .Article2Interna h1{
        color: #4A4A4A;
        font-weight: 700;
        font-size: 23px;
        text-align: center;
        margin-bottom: 8px;
    
    
    }
    .Article2InternaDate{
        color: #666666;
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        margin-bottom: 16px;
    
    }
    .Article2InternaP{
        color: #666666;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 16px;
    
    }
    .Article2InternaGrayBox{
        padding: 8px;
        border-radius: 10px;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        width: 75%;
    
    
    }
    .Article2InternaGrayBox img{
        margin-right: 10px;
        margin-bottom: 10px;
    
    }
    .Article2InternaGrayBox p{
        color: #666666;
        font-weight: 700;
        font-size: 8px;
    }

    .Article3Interna{
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 50px;
    
    }
    .Article3Interna h2{
        margin-bottom: 16px;
        text-align: center;
        color: #4A4A4A;
        font-weight: 700;
        font-size: 23px;
    
    }
    .Article3Interna p{
        color: #666666;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
    
    }
    .Article3InternaFirstP{
        margin-bottom: 20px;
        
    
    
    }
    
    .Article3InternaRow{
        margin-bottom: 20px;
        display: flex;
        align-items: start;
    
    }
    .Article3InternaRow img{
        width: 40%;
        margin-right: 16px;
    
    }
    .Article3InternaRow p{
        width: 100%;
    
    }

    .Article4Interna{
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 75px;
        padding-right: 75px;
        background-color: #EEE2D5;
    }
    .Article4Interna h2{
        color: #977347;
        font-weight: 700;
        font-size: 23px;
        text-align: center;
        margin-bottom: 13px;
    }
    .Article4InternaHR{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
    }
    .Article4InternaHRhr{
        border: 1.4px solid #977347;
        width: 65px;
    }
    .Article4InternaContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px; 
        width: 100%;
    
    }
    .interna-format{
        display: flex;
        background-color: #FFFFFF;
        border-radius: 14px;
        padding: 10px;
    }
    .interna-format img{
        width: 50%;
        margin-right: 24px;
    
    
    }
    .interna-format div{
        width: 100%;
    
    }
    .Article4InternaTitle{
        color: #000000;
        font-weight: 700;
        font-size: 8px;
        text-align: start;
        margin-bottom: 7px;
        line-height: 10px;
    
    }
    .interna-format hr{
        border: 0.4px solid #977347;
        width: 50%;
        margin-bottom: 12px;
    }
    .Article4InternaDate{
        color: #666666;
        text-align: end;
        font-weight: 400;
        font-size: 8px;
    }

}

/* Mobile Screen - Important */
@media (max-width: 650px){
    .Article1Interna{
        margin-top: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
    }
    .Article1Internaimg{
        width: 100%;
        display: none;
    }
    .Article1InternaBigScreen{
        display: none;
    }
    .Article1InternaMobile{
        display: block;
    }
    .Article1Internaimgmobile {
        width: 100%;
        display: block;
    }

    .Article2Interna{
        margin-top: 38px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .Article2Interna h1{
        color: #4A4A4A;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    
    
    }
    .Article2InternaDate{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin-bottom: 16px;
    
    }
    .Article2InternaP{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
    
    }
    .Article2InternaGrayBox{
        padding: 13px;
        border-radius: 16px;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        width: 100%;
    
    
    }
    .Article2InternaGrayBox img{
        margin-right: 10px;
        margin-bottom: 15px;
    
    }
    .Article2InternaGrayBox p{
        color: #666666;
        font-weight: 700;
        font-size: 14px;
    }

    .Article3Interna{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 50px;
    
    }
    .Article3Interna h2{
        margin-bottom: 16px;
        text-align: center;
        color: #4A4A4A;
        font-weight: 700;
        font-size: 24px;
    
    }
    .Article3Interna p{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    
    }
    .Article3InternaFirstP{
        margin-bottom: 40px;
        
    
    
    }
    
    .Article3InternaRow{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .Article3InternaRow img{
        width: 100%;
        margin-bottom: 39px;
    
    }
    .Article3InternaRow p{
        width: 100%;
        font-size: 14px;
        font-weight: 400;
    
    }

    .Article4Interna{
        padding-top: 34px;
        padding-bottom: 34px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #EEE2D5;
    }
    .Article4Interna h2{
        color: #977347;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
    .Article4InternaHR{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }
    .Article4InternaHRhr{
        border: 1.4px solid #977347;
        width: 97px;
    }
    .Article4InternaContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px; 
        width: 100%;
    
    }
    .interna-format{
        display: flex;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 16px;
    }
    .interna-format img{
        width: 50%;
        margin-right: 24px;
    
    
    }
    .interna-format div{
        width: 100%;
    
    }
    .Article4InternaTitle{
        color: #000000;
        font-weight: 700;
        font-size: 14px;
        text-align: start;
        margin-bottom: 12px;
        line-height: 15px;
    
    }
    .interna-format hr{
        border: 0.5px solid #977347;
        width: 40%;
        margin-bottom: 12px;
    }
    .Article4InternaDate{
        color: #666666;
        text-align: end;
        font-weight: 400;
        font-size: 14px;
    }


}


