/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Section4SEO{
        padding: 100px 280px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .Section4SEOTop{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 97px;
    
    }
    .Section4SEOTop h1{
        width: 40%;
        font-weight: 700;
        font-size: 75px;
        line-height: 80px;
        text-align: start;
        margin-right: 34px;
    }
    .Section4SEOTop p{
        width: 52%;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        text-align: start;
    }
    .Section4SEOBottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        width: 95%;
    }
    .seolist-format{
        width: 100%;
        background: #fff;
        border-radius: 24px;
        padding: 40px;
        border: 1px solid #B1E4E4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .SEO4Listtop{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .Section4SEOListImg{
        margin-bottom: 44px;
        width: 40%;
    }
    .seolist-format h3{
        color: #977347;
        font-weight: 700;
        font-size: 55px;
        margin-bottom: 24px;
        text-align: center;
    
    }
    .seolist-format hr{
        margin-bottom: 24px;
        border: 0.5px solid #977347;
        width: 26%;
    }
    .SEO4List{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .SEO4List img{
        margin-right: 24px;
        width: 6%;
    
    }
    .SEO4List p{
        text-align: start;
        font-size: 28px;
        font-weight: 400;
    }
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section4SEO{
        padding: 60px 200px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .Section4SEOTop{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 67px;
    
    }
    .Section4SEOTop h1{
        width: 30%;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        text-align: start;
        margin-right: 34px;
    }
    .Section4SEOTop p{
        width: 49%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: start;
    }
    .Section4SEOBottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 84%;
    }
    .seolist-format{
        width: 100%;
        background: #fff;
        border-radius: 24px;
        padding: 32px;
        border: 1px solid #B1E4E4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .SEO4Listtop{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .Section4SEOListImg{
        margin-bottom: 44px;
        width: 40%;
    }
    .seolist-format h3{
        color: #977347;
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 24px;
        text-align: center;
    
    }
    .seolist-format hr{
        margin-bottom: 24px;
        border: 0.5px solid #977347;
        width: 23%;
    }
    .SEO4List{
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    .SEO4List img{
        margin-right: 24px;
    
    }
    .SEO4List p{
        text-align: start;
        font-size: 16px;
        font-weight: 400;
    }
}







/* Tablets Screen - Important */
@media (max-width: 1200px){

    .Section4SEO{
        padding: 40px 75px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .Section4SEOTop{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    
    }
    .Section4SEOTop h1{
        width: 30%;
        font-weight: 700;
        font-size: 23px;
        line-height: 32px;
        text-align: start;
        margin-right: 34px;
    }
    .Section4SEOTop p{
        width: 51.5%;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-align: start;
    }
    .Section4SEOBottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        width: 84%;
    }
    .seolist-format{
        width: 100%;
        background: #fff;
        border-radius: 24px;
        padding: 28px;
        border: 1px solid #B1E4E4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .SEO4Listtop{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .Section4SEOListImg{
        margin-bottom: 44px;
        width: 40%;
    }
    .seolist-format h3{
        color: #977347;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 16px;
        text-align: center;
    
    }
    .seolist-format hr{
        margin-bottom: 18px;
        border: 0.5px solid #977347;
        width: 28%;
    }
    .SEO4List{
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }
    .SEO4List img{
        margin-right: 14px;
        width: 12%;
    
    }
    .SEO4List p{
        text-align: start;
        font-size: 10px;
        font-weight: 400;
    }

}




/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section4SEO{
        padding: 60px 16px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .Section4SEOTop{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-bottom: 33px;
    
    }
    .Section4SEOTop h1{
        width: 90%;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: start;
        margin-bottom: 34px;
    }
    .Section4SEOTop p{
        width: 98%;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: start;
    }
    .Section4SEOBottom{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
    }
    .seolist-format{
        width: 100%;
        background: #fff;
        border-radius: 24px;
        padding: 32px;
        border: 1px solid #B1E4E4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .SEO4Listtop{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .Section4SEOListImg{
        margin-bottom: 44px;
        width: 35%;
    }
    .seolist-format h3{
        color: #977347;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 24px;
        text-align: center;
    
    }
    .seolist-format hr{
        margin-bottom: 24px;
        border: 0.5px solid #977347;
        width: 33%;
    }
    .SEO4List{
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    .SEO4List img{
        margin-right: 24px;
    
    }
    .SEO4List p{
        text-align: start;
        font-size: 14px;
        font-weight: 400;
    }
}