.hero{
    margin-top: 60px;
    position: relative;
}
.hero img{
    width: 100%; 
}
/* .content{
    position: absolute;
    top: 0;
    margin-top: 125px;
    margin-left: 145px;
    display: block;
    width: 350px;
} */
.content{
    position: absolute;
    top: 0;
    margin-top: 125px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    width: 22%;
}
.content h1{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}
.content p{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}
.loading{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 78%;
    margin-left: 120px;
    margin-bottom: 30px;
}
.loading p{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}