/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    
    .hero{
        margin-top: 60px;
        position: relative;
    }

    .FullHero{
        width: 100%;
        object-fit: cover;
    }

    .HeroCarousel{
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .Swiperimg{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
      }

    .heroimg{
        width: 100%;
        display: none; 
    }


    
    .FullHeroMobile{
        display: none;
    }
    .heroimgmobile{
        display: none;
    }
    
    /*
    .hero img{
        width: 100%; 
    }
    */
    /* .content{
        position: absolute;
        top: 0;
        margin-top: 125px;
        margin-left: 145px;
        display: block;
        width: 350px;
    } */
    .content{
        position: absolute;
        top: 0;
        margin-top: 180px;
        margin-left: 250px;
        display: flex;
        flex-direction: column;
        width: 25%;
    }
    .content h1{
        font-size: 66px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 25px;
        font-size: 29px;
        font-weight: 200;
        color: #fff;
    }
    .loading{
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 83%;
        margin-left: 250px;
        margin-bottom: 30px;
    }
    .ProgressBar{
        width: 100%;
        margin-bottom: 1.2%;
    }
    .loading img{
        width: 100%; 
        display: none;
    }
    .loading p{
        margin-left: 35px;
        font-size: 26px;
        font-weight: 200;
        color: #fff;
    }
    
}


/* Laptop Screen - Important */
@media (max-width: 1900px){

    .hero{
        margin-top: 60px;
        position: relative;
    }

    .FullHero{
        width: 100%;
        object-fit: cover;
    }

    .HeroCarousel{
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .Swiperimg{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
      }

    
    .heroimg{
        width: 100%;
        display: none; 
    }

    .FullHeroMobile{
        display: none;
    }
    
    .heroimgmobile{
        display: none;
    }
    
    /*
    .hero img{
        width: 100%; 
    }
    */
    /* .content{
        position: absolute;
        top: 0;
        margin-top: 125px;
        margin-left: 145px;
        display: block;
        width: 350px;
    } */
    .content{
        position: absolute;
        top: 0;
        margin-top: 125px;
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        width: 22%;
    }
    .content h1{
        font-size: 36px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 25px;
        font-size: 16px;
        font-weight: 200;
        color: #fff;
    }
    
    .loading{
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 83%;
        margin-left: 150px;
        margin-bottom: 10px;
    }
    .ProgressBar{
        width: 100%;
        margin-bottom: 1.2%;
    }
    .loading img{
        width: 100%; 
        display: none;
    }
    .loading p{
        margin-left: 35px;
        font-size: 16px;
        font-weight: 200;
        color: #fff;
    }
    
}


/* ---------- media query --------- */

/* Tablets Screen - Important */
@media (max-width: 1200px){
    .hero{
        margin-top: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .FullHero{
        width: 100%;
        object-fit: cover;
    }

    .HeroCarousel{
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .Swiperimg{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
      }

    .heroimg{
        width: 100%;
        display: none;
    }
    
    .FullHeroMobile{
        display: none;
    }

    .heroimgmobile{
        display: none;
    }

    .content{
        position: absolute;
        margin-top: 70px;
        margin-left: 200px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        align-content: start;
        justify-content: center;
        width: 100%;
    }

    .content h1{
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        width: 30%;
        text-align: start;
    }
    .content p{
        margin-top: 5px;
        font-size: 12px;
        font-weight: 200;
        color: #fff;
        width: 30%;
    }

    .loading{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 83%;
        margin-left: 60px;
        margin-right: 16px;
        margin-bottom: 2px;
    }
    .ProgressBar{
        width: 100%;
        margin-bottom: 1.2%;
    }
    .loading img{
        width: 90%;
        display: none; 
    }
    .loading p{
        margin-left: 25px;
        font-size: 14px;
        font-weight: 200;
        color: #fff;
    }
}



/* Mobile Screen - Important */
@media (max-width: 650px){
   
    .hero{
        margin-top: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .heroimg{
        display: none; 
    }

    .FullHero{
        width: 100%;
        object-fit: cover;
        display: none;
        
    }

    .HeroCarousel{
        width: 100%;
        object-fit: cover;
        display: none;
    }
    .FullHeroMobile{
        display: block;
    }
    
    .HeroCarouselmobile{
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .Swiperimg{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
      }

    .heroimgmobile{
       display: none;
       width: 100%; 
    }

    .content{
        position: absolute;
        margin-top: 52px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .content h1{
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        width: 90%;
    }
    .content p{
        margin-top: 1px;
        font-size: 13px;
        font-weight: 200;
        color: #fff;
        width: 90%;
    }

    .loading{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 83%;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
    .loading img{
        width: 90%; 
    }
    .loading p{
        margin-left: 25px;
        font-size: 14px;
        font-weight: 200;
        color: #fff;
    }
}

/* @media (max-width: 1000px){
    .content h1{
        font-size: 25px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 15px;
        font-size: 8px;
        font-weight: 200;
        color: #fff;
    }
}

@media (max-width: 940px){

    .hero{
        margin-top: 60px;
        position: relative;
        display: block;
    }

    .content{
        position: absolute;
        top: 0;
        margin-top: 95px;
        margin-left: 120px;
        display: flex;
        flex-direction: column;
        width: 22%;
    }

}

@media (max-width: 840px){

    .content{
        position: absolute;
        top: 0;
        margin-top: 85px;
        margin-left: 120px;
        display: flex;
        flex-direction: column;
        width: 22%;
    }

    .content h1{
        font-size: 25px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 15px;
        font-size: 8px;
        font-weight: 200;
        color: #fff;
    }

    
   
} */
