.hero{
    margin-top: 60px;
    position: relative;
}
.heroimg{
    width: 100%; 
}

.heroimgmobile{
    display: none;
}

/*
.hero img{
    width: 100%; 
}
*/
/* .content{
    position: absolute;
    top: 0;
    margin-top: 125px;
    margin-left: 145px;
    display: block;
    width: 350px;
} */
.content{
    position: absolute;
    top: 0;
    margin-top: 125px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    width: 22%;
}
.content h1{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}
.content p{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}
.loading{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83%;
    margin-left: 120px;
    margin-bottom: 30px;
}
.loading img{
    width: 100%; 
}
.loading p{
    margin-left: 35px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}

/* ---------- media query --------- */
@media (max-width: 1199px){
    .content h1{
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 15px;
        font-size: 10px;
        font-weight: 200;
        color: #fff;
    }
}

@media (max-width: 1000px){
    .content h1{
        font-size: 25px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 15px;
        font-size: 8px;
        font-weight: 200;
        color: #fff;
    }
}

@media (max-width: 940px){

    .hero{
        margin-top: 60px;
        position: relative;
        display: block;
    }

    .content{
        position: absolute;
        top: 0;
        margin-top: 95px;
        margin-left: 120px;
        display: flex;
        flex-direction: column;
        width: 22%;
    }

}

@media (max-width: 840px){

    .content{
        position: absolute;
        top: 0;
        margin-top: 85px;
        margin-left: 120px;
        display: flex;
        flex-direction: column;
        width: 22%;
    }

    .content h1{
        font-size: 25px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 15px;
        font-size: 8px;
        font-weight: 200;
        color: #fff;
    }

    
   
}

/* Mobile Screen - Important */
@media (max-width: 650px){
    .heroimg{
        display: none; 
    }
    
    .heroimgmobile{
       display: block;
       width: 100%; 
    }

    .content{
        position: absolute;
        top: 0;
        margin-top: 52px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content h1{
        font-size: 24px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 16px;
        font-size: 14px;
        font-weight: 200;
        color: #fff;
        width: 90%;
    }

    .loading{
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 83%;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
    .loading img{
        width: 90%; 
    }
    .loading p{
        margin-left: 25px;
        font-size: 14px;
        font-weight: 200;
        color: #fff;
    }
}


/* Mobile Screen - Important */
@media (max-width: 420px){
    
    .heroimg{
        display: none; 
    }
    
    .heroimgmobile{
       display: block;
       width: 100%; 
    }

    .content{
        position: absolute;
        top: 0;
        margin-top: 52px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content h1{
        font-size: 24px;
        font-weight: 700;
        color: #fff;
    }
    .content p{
        margin-top: 16px;
        font-size: 14px;
        font-weight: 200;
        color: #fff;
        width: 90%;
    }

    .loading{
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 83%;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
    .loading img{
        width: 90%; 
    }
    .loading p{
        margin-left: 25px;
        font-size: 14px;
        font-weight: 200;
        color: #fff;
    }
}