/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Section5SEO{
        background-color: #000;
        padding: 100px 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .Section5SEO h1{
        font-weight: 700;
        font-size: 75px;
        color: #EEE2D5;
        text-align: start;
        line-height: 80px;
        width: 53%;
        
    }
    .Section5SEOVideoZone{
        flex-basis: 40%;
        position: relative;
    }
    .Section5SEOImg{
        width: 100%;
    
    }
    .Section5SEOPlay{
        width: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section5SEO{
        background-color: #000;
        padding: 60px 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .Section5SEO h1{
        font-weight: 700;
        font-size: 36px;
        color: #EEE2D5;
        text-align: start;
        line-height: 50px;
        width: 43%;
        
    }
    .Section5SEOVideoZone{
        flex-basis: 40%;
        position: relative;
    }
    .Section5SEOImg{
        width: 100%;
    
    }
    .Section5SEOPlay{
        width: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
}





/* Tablets Screen - Important */
@media (max-width: 1200px){

    .Section5SEO{
        background-color: #000;
        padding: 40px 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .Section5SEO h1{
        font-weight: 700;
        font-size: 23px;
        color: #EEE2D5;
        text-align: start;
        line-height: 30px;
        width: 53%;
        
    }
    .Section5SEOVideoZone{
        flex-basis: 40%;
        position: relative;
    }
    .Section5SEOImg{
        width: 100%;
    
    }
    .Section5SEOPlay{
        width: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
}





/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section5SEO{
        background-color: #000;
        padding: 60px 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .Section5SEO h1{
        font-weight: 700;
        font-size: 24px;
        color: #EEE2D5;
        text-align: start;
        line-height: 32px;
        width: 90%;
        margin-bottom: 32px;
        
    }
    .Section5SEOVideoZone{
        flex-basis: 40%;
        position: relative;
    }
    .Section5SEOImg{
        width: 100%;
    
    }
    .Section5SEOPlay{
        width: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
}