/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Section2SEO{
        background-color: #DDF2F2;
        padding: 100px 200px;
        margin-top: -5px;
    }
    .Section2SEOContent{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .Section2SEOSideTextleft{
        font-weight: 700;
        font-size: 45px;
        text-align: right;
        width: 20%;
    }
    .Section2SEOSideTextright{
        font-weight: 700;
        font-size: 45px;
        text-align: left;
        width: 20%;
    
    }
    .Section2SEOCircleHolder{
        margin-right: 68px;
        margin-left: 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #B1E4E4;
        height: 380px;
        width: 380px;
        border-radius: 200px;
    
    }
    .Section2SEOCircleHolder hr{
        border: 2.5px solid #977347;
        width: 23%;
    }
    .Section2SEOCircleHolder h3{
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 88px;
        font-weight: 400;
        text-align: center;
        color: #977347;
        width: 50%;
    }
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section2SEO{
        background-color: #DDF2F2;
        padding: 60px 120px;
        margin-top: -5px;
    }
    .Section2SEOContent{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .Section2SEOSideTextleft{
        font-weight: 700;
        font-size: 28px;
        text-align: right;
        width: 20%;
    }
    .Section2SEOSideTextright{
        font-weight: 700;
        font-size: 28px;
        text-align: left;
        width: 20%;
    
    }
    .Section2SEOCircleHolder{
        margin-right: 48px;
        margin-left: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #B1E4E4;
        height: 240px;
        width: 240px;
        border-radius: 120px;
    
    }
    .Section2SEOCircleHolder hr{
        border: 2.5px solid #977347;
        width: 28%;
    }
    .Section2SEOCircleHolder h3{
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        color: #977347;
        width: 50%;
    }
}





/* Tablets Screen - Important */
@media (max-width: 1200px){

    .Section2SEO{
        background-color: #DDF2F2;
        padding: 40px 75px;
        margin-top: -5px;
    }
    .Section2SEOContent{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .Section2SEOSideTextleft{
        font-weight: 700;
        font-size: 17px;
        text-align: right;
        width: 25%;
    }
    .Section2SEOSideTextright{
        font-weight: 700;
        font-size: 17px;
        text-align: left;
        width: 25%;
    
    }
    .Section2SEOCircleHolder{
        margin-right: 48px;
        margin-left: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #B1E4E4;
        height: 150px;
        width: 150px;
        border-radius: 120px;
    
    }
    .Section2SEOCircleHolder hr{
        border: 1.8px solid #977347;
        width: 21%;
    }
    .Section2SEOCircleHolder h3{
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        color: #977347;
        width: 50%;
    }
}



/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section2SEO{
        background-color: #DDF2F2;
        padding: 24px 16px;
        margin-top: -5px;
    }
    .Section2SEOContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .Section2SEOCircleHolder{
        order: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #B1E4E4;
        height: 160px;
        width: 160px;
        border-radius: 80px;
        margin-bottom: 24px;
    
    }
    .Section2SEOCircleHolder hr{
        border: 1.5px solid #977347;
        width: 28%;
    }
    .Section2SEOCircleHolder h3{
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 32px;
        font-weight: 400;
        text-align: center;
        color: #977347;
        width: 100%;
    }

    .Section2SEOSideTextleft{
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        width: 70%;
        order: 1;
    }
    .Section2SEOSideTextright{
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        width: 70%;
        margin-bottom: 24px;
    
    }
    
}