/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){


    .Section1PressPage{
        background-color: #EEE2D5;
        padding-top: 200px;
        padding-bottom: 100px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .Section1PressPageContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Section1PressPageContent h2{
        color: #977347;
        font-weight: 700;
        font-size: 66px;
        margin-bottom: 20px;
    
    }
    .Section1PressPageContenthr{
        border: 1.5px solid #977347;
        width: 10%;
    }

    

    .PressPage1Interna{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .PressPage1InternaBigScreen{
        display: grid;
        width: 70%;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .PressPage1Internaimg{
        width: 100%;
    }
    
    .PressPage1InternaMobile{
        display: none;
    }
    .PressPage1Internaimgmobile {
        width: 100%;
        display: none;
    }

    




}




/* Laptop Screen - Important */
@media (max-width: 1900px){

    .Section1PressPage{
        background-color: #EEE2D5;
        padding-top: 120px;
        padding-bottom: 60px;
        padding-left: 120px;
        padding-right: 120px;
    }
    .Section1PressPageContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Section1PressPageContent h2{
        color: #977347;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 20px;
    
    }
    .Section1PressPageContenthr{
        border: 1.5px solid #977347;
        width: 8%;
    }


    .PressPage1Interna{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .PressPage1InternaBigScreen{
        display: grid;
        width: 70%;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .PressPage1Internaimg{
        width: 100%;
    }
    
    .PressPage1InternaMobile{
        display: none;
    }
    .PressPage1Internaimgmobile {
        width: 100%;
        display: none;
    }

    
}


/* Tablets Screen - Important */
@media (max-width: 1200px){

    .Section1PressPage{
        background-color: #EEE2D5;
        padding-top: 120px;
        padding-bottom: 40px;
        padding-left: 55px;
        padding-right: 55px;
    }
    .Section1PressPageContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Section1PressPageContent h2{
        color: #977347;
        font-weight: 700;
        font-size: 23px;
        margin-bottom: 12px;
    
    }
    .Section1PressPageContenthr{
        border: 1.4px solid #977347;
        width: 10%;
    }


    .PressPage1Interna{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .PressPage1InternaBigScreen{
        display: grid;
        width: 80%;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .PressPage1Internaimg{
        width: 100%;
    }
   
    .PressPage1InternaMobile{
        display: none;
    }
    .PressPage1Internaimgmobile {
        width: 100%;
        display: none;
    }


}

/* Mobile Screen - Important */
@media (max-width: 650px){

    .Section1PressPage{
        background-color: #EEE2D5;
        padding-top: 120px;
        padding-bottom: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .Section1PressPageContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .Section1PressPageContent h2{
        color: #977347;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    
    }
    .Section1PressPageContenthr{
        border: 1.4px solid #977347;
        width: 70%;
    }


    .PressPage1Interna{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .PressPage1Internaimg{
        width: 100%;
        display: none;
    }
    .PressPage1InternaBigScreen{
        display: none;
    }
    .PressPage1InternaMobile{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .PressPage1Internaimgmobile {
        width: 100%;
        display: block;
    }



}


