.SectionTwo{
    background-color: #EEE2D5;
    margin-top: -5px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.twocontent{
    border-left: 1px solid #000;
    padding-left: 24px;
    padding-right: 70px;
    width: 47%;
}
.twocontent h3{
    font-weight: 600;
    font-size: 20px;

}
.twocontent p{
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;

}
.SectionTwoMobileDivide{
    display: none;
}


/* Mobile Screen - Important */
@media (max-width: 650px){
    .SectionTwo{
        background-color: #EEE2D5;
        margin-top: -5px;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .twocontent{
        border-left: 1px solid #000;
        padding-left: 24px;
        padding-right: 0px;
        width: 100%;
    }
    .SectionTwoMobileDivide{
        display: block;
        margin-bottom: 50px;
    }
    .twocontent h3{
        font-weight: 600;
        font-size: 20px;
        width: 100%;
    
    }
    .twocontent p{
        font-weight: 400;
        font-size: 16px;
        margin-top: 30px;
        width: 100%;
    
    }
}
