/* Ultra-Wide Screen - Important */
@media (max-width: 2300px){
    .SectionTwo{
        background-color: #EEE2D5;
        margin-top: -5px;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 200px;
        padding-right: 200px;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    .twocontent{
        border-left: 1px solid #000;
        padding-left: 24px;
        padding-right: 70px;
        width: 47%;
    }
    .twocontent h3{
        font-weight: 600;
        font-size: 35px;
    
    }
    .twocontent p{
        font-weight: 400;
        font-size: 27px;
        width: 100%;
        margin-top: 30px;
    
    }
    .SectionTwoMobileDivide{
        display: none;
    }
}


/* Laptop Screen - Important */
@media (max-width: 1900px){
   
    .SectionTwo{
        background-color: #EEE2D5;
        margin-top: -5px;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 120px;
        padding-right: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .twocontent{
        border-left: 1px solid #000;
        padding-left: 24px;
        padding-right: 70px;
        width: 47%;
    }
    .twocontent h3{
        font-weight: 600;
        font-size: 20px;
    
    }
    .twocontent p{
        font-weight: 400;
        font-size: 16px;
        margin-top: 30px;
    
    }
    .SectionTwoMobileDivide{
        display: none;
    }
}




/* Tablets Screen - Important */
@media (max-width: 1200px){
    .SectionTwo{
        background-color: #EEE2D5;
        margin-top: -5px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 75px;
        padding-right: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .twocontent{
        border-left: 1px solid #000;
        padding-left: 24px;
        padding-right: 70px;
        width: 100%;
    }
    .twocontent h3{
        font-weight: 600;
        font-size: 13px;
        width: 100%;
    
    }
    .twocontent p{
        font-weight: 400;
        font-size: 10px;
        margin-top: 20px;
        width: 100%;
    
    }
    .SectionTwoMobileDivide{
        display: none;
    }
}


/* Mobile Screen - Important */
@media (max-width: 650px){
    .SectionTwo{
        background-color: #EEE2D5;
        margin-top: -5px;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .twocontent{
        border-left: 1px solid #000;
        padding-left: 24px;
        padding-right: 0px;
        width: 100%;
    }
    .SectionTwoMobileDivide{
        display: block;
        margin-bottom: 50px;
    }
    .twocontent h3{
        font-weight: 700;
        font-size: 16px;
        width: 100%;
    
    }
    .twocontent p{
        font-weight: 400;
        font-size: 14px;
        margin-top: 30px;
        width: 100%;
    
    }
}
