/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .SectionFour{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 200px;
    
    }
    .fourImageRegion{
        width: 100%;
        display: flex;
        align-items: center;
    
    }
    .fourImageRegion img{
        width: 88.5%;
    }
    .fourTextRegion{
        width: 70%;
    }
    .fourTextRegion h2{
        font-size: 66px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .fourTextRegionhr{
        border: 2px solid #000;
        width: 21%;
        margin-bottom: 35px;
    }
    .fourTextRegion h1{
        font-family: "Bebas Neue", sans-serif;
        color: #977347;
        font-size: 88px;
        line-height: 85px;
        font-weight: 400;
        margin-bottom: 32px;
        width: 100%;
    }
    .fourTextRegion p{
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        width: 86%;
    }
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .SectionFour{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: 120px;
    
    }
    .fourImageRegion{
        width: 100%;
        display: flex;
        align-items: center;
    
    }
    .fourImageRegion img{
        width: 84.5%;
    }
    .fourTextRegion{
        width: 70%;
    }
    .fourTextRegion h2{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 17px;
    }
    .fourTextRegionhr{
        border: 2px solid #000;
        width: 19%;
        margin-bottom: 20px;
    }
    .fourTextRegion h1{
        font-family: "Bebas Neue", sans-serif;
        color: #977347;
        font-size: 48px;
        line-height: 50px;
        font-weight: 400;
        margin-bottom: 32px;
        width: 75%;
    }
    .fourTextRegion p{
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        width: 87%;
    }
}





/* Tablets Screen - Important */
@media (max-width: 1200px){
    .SectionFour{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 75px;
    
    }
    .fourImageRegion{
        width: 100%;
        display: flex;
        align-items: center;
    
    }
    .fourImageRegion img{
        width: 84.5%;
    }
    .fourTextRegion{
        width: 70%;
    }
    .fourTextRegion h2{
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .fourTextRegionhr{
        border: 1.4px solid #000;
        width: 23%;
        margin-bottom: 15px;
    }
    .fourTextRegion h1{
        font-family: "Bebas Neue", sans-serif;
        color: #977347;
        font-size: 30px;
        line-height: 32px;
        font-weight: 400;
        margin-bottom: 15px;
        width: 90%;
    }
    .fourTextRegion p{
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        width: 100%;
    }
}



/* Mobile Screen - Important */
@media (max-width: 650px){
    .SectionFour{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: 16px;
        margin-left: 16px;
    
    }

    .fourTextRegion{
        width: 100%;
        margin-bottom: 32px;
    }
    .fourTextRegion h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .fourTextRegionhr{
        border: 1.5px solid #000;
        width: 31%;
        margin-bottom: 20px;
    }
    .fourTextRegion h1{
        font-family: "Bebas Neue", sans-serif;
        color: #977347;
        font-size: 36px;
        line-height: 36px;
        font-weight: 400;
        margin-bottom: 32px;
        width: 95%;
    }
    .fourTextRegion p{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        width: 100%;
    }

    .fourImageRegion{
        width: 100%;
        display: flex;
        align-items: center;
        order: 2;
    
    }
    .fourImageRegion img{
        width: 100%;
    }
    
}
