/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Section3About{
        background-color: #DDF2F2;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    /* Section 1 Private 1 CSSS*/
    
    .Section3About1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    /* Text Region */
    
    .Section3AboutTextRegion{
        width: 100%;
    }
    .Section3AboutTextRegion p{
        font-weight: 400;
        font-size: 28px;
        width: 87%;
        line-height: 42px;
    }
    
    /* Image Region */
    
    .Section3AboutImageRegion{
        width:100%;
        display: flex;
        align-items: end;
        justify-content: end;
    
    }
    .Section3AboutImageRegion img{
        width: 89%;
    }
    
    
    .Section3AboutContact{
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 52px;
    
    }
    .Section3AboutcontactBtn{
        background: #977347;
        color: #fff;
        padding: 25px 50px;
        font-size: 28px;
        font-weight: 700;
        border-radius: 50px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section3About{
        background-color: #DDF2F2;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 120px;
        padding-right: 120px;
    }
    
    /* Section 1 Private 1 CSSS*/
    
    .Section3About1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        
    }
    
    /* Text Region */
    
    .Section3AboutTextRegion{
        width: 100%;
        
    
    }
    .Section3AboutTextRegion p{
        font-weight: 400;
        font-size: 18px;
        width: 87%;
        line-height: 28px;
    }
    
    /* Image Region */
    
    .Section3AboutImageRegion{
        width:100%;
        display: flex;
        align-items: end;
        justify-content: end;
    
    }
    .Section3AboutImageRegion img{
        width: 89%;
    }
    
    
    .Section3AboutContact{
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 32px;
    
    }
    .Section3AboutcontactBtn{
        background: #977347;
        color: #fff;
        padding: 16px 32px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}







/* Tablets Screen - Important */
@media (max-width: 1200px){

    .Section3About{
        background-color: #DDF2F2;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 75px;
        padding-right: 75px;
    }
    
    /* Section 1 Private 1 CSSS*/
    
    .Section3About1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        
    }
    
    /* Text Region */
    
    .Section3AboutTextRegion{
        width: 100%;
        
    
    }
    .Section3AboutTextRegion p{
        font-weight: 400;
        font-size: 10px;
        width: 93%;
        line-height: 13px;
    }
    
    /* Image Region */
    
    .Section3AboutImageRegion{
        width:100%;
        display: flex;
        align-items: end;
        justify-content: end;
    
    }
    .Section3AboutImageRegion img{
        width: 90%;
    }
    
    
    .Section3AboutContact{
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 32px;
    
    }
    .Section3AboutcontactBtn{
        background: #977347;
        color: #fff;
        padding: 12px 25px;
        font-size: 10px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}






/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section3About{
        background-color: #DDF2F2;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    /* Section 1 Private 1 CSSS*/
    
    .Section3About1{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        
        
    }
    

    /* Image Region */
    
    .Section3AboutImageRegion{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    
    }
    .Section3AboutImageRegion img{
        width: 100%;
    }

    /* Text Region */
    
    .Section3AboutTextRegion{
        width: 100%;
        order: 2;
        
    
    }
    .Section3AboutTextRegion p{
        font-weight: 400;
        font-size: 14px;
        width: 94%;
        line-height: 22px;
    }
    
    
    
    
    .Section3AboutContact{
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 32px;
    
    }
    .Section3AboutcontactBtn{
        background: #977347;
        color: #fff;
        padding: 16px 32px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}