/* Ultra-Wide Screen - Important */
@media (max-width: 2300px){

    .Section1About{
        background-color: #EEE2D5;
        padding-top: 160px;
        padding-bottom: 100px;
        padding-left: 200px;
        padding-right: 200px;
        align-items: center;
    }
    .Section1AboutTitle{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Section1AboutTitle h1{
        width: 85%;
        font-family: "Bebas Neue", sans-serif;
        font-size: 88px;
        font-weight: 400;
        line-height: 85px;
        text-align: center;
        color: #977347;
    }
    .Section1Aboutimages{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
    .Section1Aboutimages img{
        width: 32.76%;
    }
    .Section1AboutCenterImage{
        margin-left: 12px;
        margin-right: 12px;
    }
    .Section1AboutText{
        margin-top: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Section1AboutText p{
        align-items: center;
        justify-content: center;
        font-size: 28px;
        width: 48%;
        line-height: 40px;
    }

}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section1About{
        background-color: #EEE2D5;
        padding-top: 120px;
        padding-bottom: 60px;
        padding-left: 120px;
        padding-right: 120px;
        align-items: center;
    }
    .Section1AboutTitle{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Section1AboutTitle h1{
        width: 70%;
        font-family: "Bebas Neue", sans-serif;
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        color: #977347;
    }
    .Section1Aboutimages{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
    .Section1Aboutimages img{
        width: 32.76%;
    }
    .Section1AboutCenterImage{
        margin-left: 10px;
        margin-right: 10px;
    }
    .Section1AboutText{
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Section1AboutText p{
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 48%;
        line-height: 22px;
    }
}




/* Tablets Screen - Important */
@media (max-width: 1200px){
    .Section1About{
        background-color: #EEE2D5;
        padding-top: 100px;
        padding-bottom: 40px;
        padding-left: 75px;
        padding-right: 75px;
        align-items: center;
    }
    .Section1AboutTitle{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Section1AboutTitle h1{
        width: 87%;
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        color: #977347;
    }
    .Section1Aboutimages{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }
    .Section1Aboutimages img{
        width: 32.16%;
    }
    .Section1AboutCenterImage{
        margin-left: 10px;
        margin-right: 10px;
    }
    .Section1AboutText{
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    .Section1AboutText p{
        align-items: center;
        justify-content: center;
        font-size: 9px;
        width: 46%;
        line-height: 14px;
    }
}


/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section1About{
        background-color: #EEE2D5;
        padding-top: 120px;
        padding-bottom: 60px;
        padding-left: 16px;
        padding-right: 16px;
        align-items: center;
    }
    .Section1AboutTitle{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Section1AboutTitle h1{
        width: 100%;
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        color: #977347;
    }
    .Section1Aboutimages{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
    .Section1Aboutimages img{
        width: 32.76%;
    }
    .Section1AboutCenterImage{
        margin-left: 10px;
        margin-right: 10px;
    }
    .Section1AboutText{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .Section1AboutText p{
        align-items: center;
        justify-content: center;
        font-size: 14px;
        width: 95.5%;
        line-height: 22px;
    }
    .Section1AboutText div{
        margin-bottom: 32px;
    }
    
}
