.SectionFive{
    background-color: #DDF2F2;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
}
.fiveTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fiveTitle h2{
    font-size: 36px;
    font-weight: 700;

}
.fiveTitle img{
    margin-left: 20px;
    margin-right: 20px;
}
.fiveTitle h1{
    width: 43%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #977347;
}
.fiveimages{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.fiveimages img{
    width: 25%;
}
.fiveCenterImage{
    margin-left: 10px;
    margin-right: 10px;
}
.fiveText{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fiveText p{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    width: 48%;
}
.fiveboldtext{
    font-weight: 600;
}
.fiveContact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}
.contactBtn{
    background: #977347;
    color: #fff;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
