/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Section6DetailedPrivate{
        margin-top: 109px;
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 109px;
    
    }
    .Section6DetailedPrivate h2{
        margin-bottom: 16px;
        text-align: start;
        color: #000;
        font-weight: 700;
        font-size: 70px;
    
    }

    .Section6DetailedPrivatehr{
        border: 2px solid #000;
        width: 10.5%;
        margin-bottom: 50px;
    }
    .Section6DetailedPrivate p{
        color: #666666;
        font-weight: 400;
        font-size: 27px;
        line-height: 40px;
    
    }
    .Section6DetailedPrivateFirstP{
        margin-bottom: 60px;
        
    
    
    }

    .Section6DetailedPrivateCheckText, .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText {
        display: flex;
        align-items: start;
        margin-bottom: 20px;
    }
    .Section6DetailedPrivateCheckText img, .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText img {
        width: 45px;
    }
    .Section6DetailedPrivateCheckText div,
    .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText div {
        margin-right: 10px;
    }
    .Section6DetailedPrivateCheckText p,
    .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText p{
        width: 100%;
        font-size: 27px;
        font-weight: 400;
    }
    
    .Section6DetailedPrivateRow{
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    
    }
    .Section6DetailedPrivateRow img{
        width: 40%;
        margin-right: 16px;
    
    }
    .Section6DetailedPrivateRow p{
        width: 100%;
    
    }
}


/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section6DetailedPrivate{
        margin-top: 69px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 69px;
    
    }
    .Section6DetailedPrivate h2{
        margin-bottom: 16px;
        text-align: start;
        color: #000;
        font-weight: 700;
        font-size: 36px;
    
    }

    .Section6DetailedPrivatehr{
        border: 2px solid #000;
        width: 8%;
        margin-bottom: 50px;
    }

    .Section6DetailedPrivate p{
        color: #666666;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
    
    }
    .Section6DetailedPrivateFirstP{
        margin-bottom: 40px;
        
    
    
    }

    .Section6DetailedPrivateCheckText, .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText {
        display: flex;
        align-items: start;
        margin-bottom: 10px;
    }
    .Section6DetailedPrivateCheckText img, .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText img {
        width: 25px;
    }
    .Section6DetailedPrivateCheckText div,
    .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText div {
        margin-right: 10px;
    }
    .Section6DetailedPrivateCheckText p,
    .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText p{
        width: 100%;
        font-size: 15px;
        font-weight: 400;
    }

    
    
    .Section6DetailedPrivateRow{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    
    }
    .Section6DetailedPrivateRowimg{
        width: 40%;
        margin-right: 16px;
    
    }
    .Section6DetailedPrivateRow p{
        width: 100%;
    
    }

}






/* Tablets Screen - Important */
@media (max-width: 1200px){
    .Section6DetailedPrivate{
        margin-top: 39px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 39px;
    
    }
    .Section6DetailedPrivate h2{
        margin-bottom: 16px;
        text-align: start;
        color: #000;
        font-weight: 700;
        font-size: 28px;
    
    }

    .Section6DetailedPrivatehr{
        border: 1.4px solid #000;
        width: 10%;
        margin-bottom: 30px;
    }

    .Section6DetailedPrivate p{
        color: #666666;
        font-weight: 400;
        font-size: 9px;
        line-height: 15px;
    
    }
    .Section6DetailedPrivateFirstP{
        margin-bottom: 20px;
        
    
    
    }


    .Section6DetailedPrivateCheckText, .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText {
        display: flex;
        align-items: start;
        margin-bottom: 5px;
    }
    .Section6DetailedPrivateCheckText img, .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText img {
        width: 20px;
    }
    .Section6DetailedPrivateCheckText div,
    .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText div {
        margin-right: 8px;
    }
    .Section6DetailedPrivateCheckText p,
    .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText p{
        width: 100%;
        font-size: 9px;
        font-weight: 400;
    }

    
    .Section6DetailedPrivateRow{
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    
    }
    .Section6DetailedPrivateRowimg{
        width: 40%;
        margin-right: 16px;
    
    }
    .Section6DetailedPrivateRow p{
        width: 100%;
    
    }
}



/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section6DetailedPrivate{
        margin-top: 69px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 69px;
    
    }
    .Section6DetailedPrivate h2{
        margin-bottom: 16px;
        text-align: start;
        color: #000;
        font-weight: 700;
        font-size: 28px;
    
    }

    .Section6DetailedPrivatehr{
        border: 1.45px solid #000;
        width: 28%;
        margin-bottom: 50px;
    }
    .Section6DetailedPrivate p{
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    
    }
    .Section6DetailedPrivateFirstP{
        margin-bottom: 40px;
        
    
    
    }

    .Section6DetailedPrivateCheckText, .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText {
        display: flex;
        align-items: start;
        margin-bottom: 17px;
    }
    .Section6DetailedPrivateCheckText img, .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText img {
        width: 23px;
    }
    .Section6DetailedPrivateCheckText div,
    .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText div {
        margin-right: 8px;
    }
    .Section6DetailedPrivateCheckText p,
    .Section6DetailedPrivateRow .Section6DetailedPrivateCheckText p{
        width: 100%;
        font-size: 14px;
        font-weight: 400;
    }
    
    .Section6DetailedPrivateRow{
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .Section6DetailedPrivateRowimg{
        width: 100%;
        margin-bottom: 39px;
    
    }
    .Section6DetailedPrivateRow p{
        width: 100%;
        font-size: 14px;
        font-weight: 400;
    
    }
}