/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    nav{
        width: 100%;
        color: #fff;
        padding: 4px 0;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        border-bottom: 3px solid #977347;
    }
    .whitenav{
        background: #fff;
    }
    .logo{
        width: 190px;
        height: 43px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 5px 20px;
        font-size: 20px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        color: black;
    }
    .menu-icon{
        display: none;
    }
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    nav{
        width: 100%;
        color: #fff;
        padding: 4px 0;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        border-bottom: 3px solid #977347;
    }
    .whitenav{
        background: #fff;
    }
    .logo{
        width: 170.67px;
        height: 39.3px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 5px 20px;
        font-size: 14px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        color: black;
    }
    .menu-icon{
        display: none;
    }
}


/* ------- media query -------*/
@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}


@media (max-width: 840px){
    .logo{
        width: 140px;
        height: 35.3px;
    }
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        margin-right: 5px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}