nav{
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.whitenav{
    background: #fff;
}
.logo{
    width: 170.67px;
    height: 39.3px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: black;
}