.Section4PrivateLabel{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #fff;
}
.Section4PrivateText{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 60px;

}
.Section4PrivateTextRegionLeft{
    width: 45%;

}

.Section4PrivateTextRegionLeft h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 17px;
}
.Section4PrivateTextRegionLeft hr{
    border: 2px solid #000;
    width: 21%;
    margin-bottom: 32px;
}
.Section4PrivateCheckText{
    display: flex;
    align-items: start;
    justify-content: left;
    margin-bottom: 30px;
}
.Section4PrivateCheckText div{
    margin-right: 20px;
}
.Section4PrivateCheckText p{
    width: 67%;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
}
.Section4PrivateTextRegionRight{
    width: 40%;
}


.Section4PrivateTextRegionRight h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 17px;
}
.Section4PrivateTextRegionRight hr{
    border: 2px solid #000;
    width: 21%;
    margin-bottom: 32px;
}
.Section4PrivateTextRegionRight p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}



.Section4PrivateContact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}
.Section4PrivateContactBtn{
    background: #977347;
    color: #fff;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}