/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Section4PrivateLabel{
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 200px;
        padding-right: 200px;
        background-color: #fff;
    }
    .Section4PrivateText{
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 60px;
    
    }
    .Section4PrivateTextRegionLeft{
        width: 45%;
    
    }
    
    .Section4PrivateTextRegionLeft h2{
        font-size: 75px;
        font-weight: 700;
        margin-bottom: 23px;
    }
    .Section4PrivateTextRegionLeft hr{
        border: 2px solid #000;
        width: 27%;
        margin-bottom: 42px;
    }
    .Section4PrivateCheckText{
        display: flex;
        align-items: start;
        justify-content: left;
        margin-bottom: 30px;
    }
    .Section4PrivateCheckText div{
        margin-right: 20px;
    }
    .Section4PrivateCheckText p{
        width: 77%;
        line-height: 40px;
        font-size: 28px;
        font-weight: 400;
    }
    .Section4PrivateTextRegionRight{
        width: 45%;
    }
    
    
    .Section4PrivateTextRegionRight h2{
        font-size: 75px;
        font-weight: 700;
        margin-bottom: 22px;
    }
    .Section4PrivateTextRegionRight hr{
        border: 2px solid #000;
        width: 30%;
        margin-bottom: 42px;
    }
    .Section4PrivateTextRegionRight p{
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
    }
    
    
    
    .Section4PrivateContact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    
    }
    .Section4PrivateContactBtn{
        background: #977347;
        color: #fff;
        padding: 25px 50px;
        font-size: 28px;
        font-weight: 700;
        border-radius: 50px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}


/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section4PrivateLabel{
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 120px;
        padding-right: 120px;
        background-color: #fff;
    }
    .Section4PrivateText{
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 60px;
    
    }
    .Section4PrivateTextRegionLeft{
        width: 45%;
    
    }
    
    .Section4PrivateTextRegionLeft h2{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 17px;
    }
    .Section4PrivateTextRegionLeft hr{
        border: 2px solid #000;
        width: 21%;
        margin-bottom: 32px;
    }
    .Section4PrivateCheckText{
        display: flex;
        align-items: start;
        justify-content: left;
        margin-bottom: 30px;
    }
    .Section4PrivateCheckText div{
        margin-right: 20px;
    }
    .Section4PrivateCheckText p{
        width: 67%;
        line-height: 25px;
        font-size: 16px;
        font-weight: 400;
    }
    .Section4PrivateTextRegionRight{
        width: 40%;
    }
    
    
    .Section4PrivateTextRegionRight h2{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 17px;
    }
    .Section4PrivateTextRegionRight hr{
        border: 2px solid #000;
        width: 21%;
        margin-bottom: 32px;
    }
    .Section4PrivateTextRegionRight p{
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
    }
    
    
    
    .Section4PrivateContact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    
    }
    .Section4PrivateContactBtn{
        background: #977347;
        color: #fff;
        padding: 16px 32px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}


/* Tablets Screen - Important */
@media (max-width: 1200px){
    .Section4PrivateLabel{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 75px;
        padding-right: 75px;
        background-color: #fff;
    }
    .Section4PrivateText{
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 60px;
    
    }
    .Section4PrivateTextRegionLeft{
        width: 43%;
    
    }
    
    .Section4PrivateTextRegionLeft h2{
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 12px;
    }
    .Section4PrivateTextRegionLeft hr{
        border: 1.4px solid #000;
        width: 28%;
        margin-bottom: 22px;
    }
    .Section4PrivateCheckText{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 20px;
    }
    .Section4PrivateCheckText div{
        margin-right: 20px;
    }
    .Section4PrivateCheckText p{
        width: 100%;
        line-height: 15px;
        font-size: 10px;
        font-weight: 400;
    }
    .Section4PrivateTextRegionRight{
        width: 43%;
    }
    
    
    .Section4PrivateTextRegionRight h2{
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 12px;
    }
    .Section4PrivateTextRegionRight hr{
        border: 1.4px solid #000;
        width: 28%;
        margin-bottom: 32px;
    }
    .Section4PrivateTextRegionRight p{
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
    }
    
    
    
    .Section4PrivateContact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    
    }
    .Section4PrivateContactBtn{
        background: #977347;
        color: #fff;
        padding: 16px 32px;
        font-size: 10px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    } 
}



/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section4PrivateLabel{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #fff;
    }
    .Section4PrivateText{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-bottom: 60px;
    
    }
    .Section4PrivateTextRegionLeft{
        width: 100%;
    
    }
    
    .Section4PrivateTextRegionLeft h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .Section4PrivateTextRegionLeft hr{
        border: 1.4px solid #000;
        width: 28%;
        margin-bottom: 32px;
    }
    .Section4PrivateCheckText{
        display: flex;
        align-items: start;
        justify-content: left;
        margin-bottom: 30px;
    }
    .Section4PrivateCheckText div{
        margin-right: 20px;
    }
    .Section4PrivateCheckText p{
        width: 100%;
        line-height: 25px;
        font-size: 14px;
        font-weight: 400;
    }

    .Section4PrivateTextRegionRight{
        width: 100%;
    }
    
    
    .Section4PrivateTextRegionRight h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .Section4PrivateTextRegionRight hr{
        border: 1.4px solid #000;
        width: 28%;
        margin-bottom: 32px;
    }
    .Section4PrivateTextRegionRight p{
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    
    
    
    .Section4PrivateContact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    
    }
    .Section4PrivateContactBtn{
        background: #977347;
        color: #fff;
        padding: 16px 32px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    } 
}