/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Footer{
        padding-top: 100px;
        padding-bottom: 40px;
        padding-left: 200px;
        padding-right: 200px;
        background-color: black;
    }
    .socialmedia{
        border-top: 2px solid#977347;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    .socialmedia img{
        width: 1.8%;
    }
    .socialmedia div{
        margin-left: 8px;
        margin-right: 8px;
    }
    
    .contactsindustries{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    /* Contact CSS*/
    .contacts{
        justify-content: start;
    }
    .contacts img{
        margin-bottom: 40px;
        width: 85%;
    
    }
    .contactText{
        color: white;
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 15px;
    }
    .contacts hr{
        width: 60%;
        border: 2px solid white !important;
        margin-bottom: 15px;
    }
    .phoneEmail {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .phoneEmail p{
        color: white;
        font-weight: 700;
        font-size: 28px;
        cursor: pointer;
    }
    .phoneEmail div{
        margin-left: 8px;
        margin-right: 8px;
    }
    
    /* --- Some Industry heading CSS --- */
    
    .industries{
        align-items: start;
        justify-content: left;
    }
    .industrytext{
        color: white;
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 15px;
    }
    .industries hr{
        width: 20%;
        border: 2px solid white;
        margin-bottom: 15px;
    }
    .grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .grid div{
        margin-right: 12px;
    }
    .gridcontent{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 15px;
    }
    .gridcontent p{
        color: white;
        font-size: 28px;
        font-weight: 700;
    }

    
    .gridcontent div{
        margin-left: 7px;
        margin-right: 7px;
    }
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Footer{
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 120px;
        padding-right: 120px;
        background-color: black;
    }
    .socialmedia{
        border-top: 2px solid#977347;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    .socialmedia div{
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .contactsindustries{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    /* Contact CSS*/
    .contacts{
        justify-content: start;
    }
    .contacts img{
        margin-bottom: 40px;
    
    }
    .contactText{
        color: white;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .contactshr{
        width: 30%;
        border: 2px solid #fff;
        margin-bottom: 15px;
    }
    .phoneEmail {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .phoneEmail p{
        color: white;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }
    .phoneEmail div{
        margin-left: 6px;
        margin-right: 6px;
    }
    
    /* --- Some Industry heading CSS --- */
    
    .industries{
        align-items: start;
        justify-content: left;
    }
    .industrytext{
        color: white;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .industries hr{
        width: 18%;
        border: 2px solid white;
        margin-bottom: 15px;
    }
    .grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .grid div{
        margin-right: 5px;
    }
    .gridcontent{
        display: flex;
        align-items: start;
        justify-content: left;
        margin-bottom: 10px;
    }
    .gridcontent p{
        color: white;
        font-size: 16px;
        font-weight: 700;
    }
    .gridcontent div{
        margin-left: 5px;
        margin-right: 5px;
    }
}




/* Tablets Screen - Important */
@media (max-width: 1200px){
    .Footer{
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 75px;
        padding-right: 75px;
        background-color: black;
    }
    .socialmedia{
        border-top: 2px solid#977347;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    .socialmedia div{
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .contactsindustries{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    
    /* Contact CSS*/
    .contacts{
        justify-content: start;
        width: 100%;
    }
    .contacts img{
        margin-bottom: 20px;
        width: 60%;
    
    }
    .contactText{
        color: white;
        font-weight: 700;
        font-size: 10px;
        margin-bottom: 15px;
    }
    .contacts hr{
        width: 22%;
        border: 1.4px solid white;
        margin-bottom: 15px;
    }
    .phoneEmail {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .phoneEmail p{
        color: white;
        font-weight: 700;
        font-size: 10px;
        cursor: pointer;
    }
    .phoneEmail div{
        margin-left: 6px;
        margin-right: 6px;
    }
    
    /* --- Some Industry heading CSS --- */
    
    .industries{
        align-items: start;
        justify-content: left;
        width: 100%;
    }
    .industrytext{
        color: white;
        font-weight: 700;
        font-size: 9px;
        margin-bottom: 12px;
    }
    .industries hr{
        width: 18%;
        border: 1.4px solid white;
        margin-bottom: 12px;
    }
    .grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .grid div{
        margin-right: 5px;
    }
    .gridcontent{
        display: flex;
        align-items: start;
        justify-content: left;
        margin-bottom: 5px;
    }
    .gridcontent p{
        color: white;
        font-size: 8px;
        font-weight: 700;
        width: 100%;
    }
    .gridcontent img{
        width: 10%;
    }
    .gridcontent div{
        margin-left: 5px;
        margin-right: 5px;
    }
}


/* Mobile Screen - Important */
@media (max-width: 650px){
 
    .Footer{
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: black;
    }
    .socialmedia{
        border-top: 2px solid#977347;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    .socialmedia div{
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .contactsindustries{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }
    
    /* Contact CSS*/
    .contacts{
        justify-content: start;
        margin-bottom: 32px;
    }
    .contacts img{
        margin-bottom: 40px;
    
    }
    .contactText{
        color: white;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .contacts hr{
        width: 30%;
        border: 1.2px solid white;
        margin-bottom: 15px;
    }
    .phoneEmail {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .phoneEmail p{
        color: white;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }
    .phoneEmail div{
        margin-left: 6px;
        margin-right: 6px;
    }
    
    /* --- Some Industry heading CSS --- */
    
    .industries{
        align-items: start;
        justify-content: left;
    }
    .industrytext{
        color: white;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .industries hr{
        width: 37%;
        border: 1.2px solid white;
        margin-bottom: 15px;
    }
    .grid{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .grid div{
        margin-bottom: 7px;
    }
    .gridcontent{
        display: flex;
        align-items: start;
        justify-content: left;
        margin-bottom: 10px;
    }
    .gridcontent img{
        width: 5%;
    }
    .gridcontent p{
        color: white;
        font-size: 16px;
        font-weight: 700;
    }
    .gridcontent div{
        margin-left: 5px;
        margin-right: 5px;
    }
}