.Section2PrivateLabel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #fff;

}
.Section2PrivateImageRegion{
    width: 100%;
}
.Section2PrivateImageRegion img{
    width: 87%;
}

.Section2PrivateTextRegion{
    width: 70%;
}
.Section2PrivateTextRegion h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 17px;
}
.Section2PrivateTextRegion hr{
    border: 2px solid #000;
    width: 21%;
    margin-bottom: 32px;
}
.Section2PrivateCheckText{
    display: flex;
    align-items: start;
    justify-content: left;
    margin-bottom: 30px;
}
.Section2PrivateCheckText div{
    margin-right: 20px;
}
.Section2PrivateCheckText p{
    width: 67%;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
}


/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section2PrivateLabel{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        padding-top: 48px;
        padding-bottom: 30px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #fff;
    
    }
    .Section2PrivateImageRegion{
        width: 100%;
        margin-bottom: 48px;
    }
    .Section2PrivateImageRegion img{
        width: 100%;
    }
    
    .Section2PrivateTextRegion{
        width: 100%;
    }
    .Section2PrivateTextRegion h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .Section2PrivateTextRegion hr{
        border: 1.2px solid #000;
        width: 28%;
        margin-bottom: 32px;
    }
    .Section2PrivateCheckText{
        display: flex;
        align-items: start;
        justify-content: left;
        margin-bottom: 30px;
    }
    .Section2PrivateCheckText div{
        margin-right: 20px;
    }
    .Section2PrivateCheckText p{
        width: 85%;
        line-height: 22px;
        font-size: 14px;
        font-weight: 400;
    }
}
