/* Ultra-Wide Screen - Important */
@media (min-width: 1901px){
    .Section1Contact{
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 64px;
        padding-left: 200px;
        padding-bottom: 200px;
        background-color: #fff;
    }
    .Section1ContactForm{
        width: 100%;
        margin-top: 100px;
        background-color: #fff;
    
    }
    .Section1ContactForm h2{
        font-size: 66px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .Section1ContactForm hr{
        border: 2px solid #000;
        width: 20%;
        margin-bottom: 150px;
    }
    
    .Section1ContactForm form input{
        display: block;
        width: 100%;
        background: #eaeaea;
        padding: 22px;
        font-size: 28px;
        border: 0;
        outline: 0;
        margin-bottom: 24px;
        margin-top: 11px;
        resize: none;
        border-radius: 14px;
    }
    .Section1ContactForm form textarea{
        display: block;
        width: 100%;
        background: #eaeaea;
        padding: 22px;
        font-size: 28px;
        border: 0;
        outline: 0;
        margin-bottom: 24px;
        margin-top: 11px;
        resize: none;
        border-radius: 14px;
    }
    
    .Section1ContactForm form label{
        font-weight: 700;
        font-size: 26px;
        color: #666666;
    }
    
    .Section1ContacttcontactBtn{
        background: #977347;
        color: #fff;
        padding: 25px 50px;
        font-size: 28px;
        font-weight: 700;
        border-radius: 50px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 78px;
    }
    
    
    .Section1ContactImage{
        width: 80%;
        display: flex;
        align-items: start;
        justify-content: end;
    
    }
    .Section1ContactImage img{
        width: 81%;
    }
}


/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section1Contact{
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 64px;
        padding-left: 120px;
        padding-bottom: 120px;
        background-color: #fff;
    }
    .Section1ContactForm{
        width: 100%;
        margin-top: 60px;
        background-color: #fff;
    
    }
    .Section1ContactForm h2{
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .Section1ContactForm hr{
        border: 2px solid #000;
        width: 16%;
        margin-bottom: 60px;
    }
    
    .Section1ContactForm form input{
        display: block;
        width: 100%;
        background: #eaeaea;
        padding: 22px;
        border: 0;
        outline: 0;
        margin-bottom: 24px;
        margin-top: 11px;
        resize: none;
        border-radius: 14px;
    }
    .Section1ContactForm form textarea{
        display: block;
        width: 100%;
        background: #eaeaea;
        padding: 22px;
        border: 0;
        outline: 0;
        margin-bottom: 24px;
        margin-top: 11px;
        resize: none;
        border-radius: 14px;
    }
    
    .Section1ContactForm form label{
        font-weight: 700;
        font-size: 16px;
        color: #666666;
    }
    
    .Section1ContacttcontactBtn{
        background: #977347;
        color: #fff;
        padding: 16px 32px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 58px;
    }
    
    
    .Section1ContactImage{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: end;
    
    }
    .Section1ContactImage img{
        width: 81%;
    }
}






/* Tablets Screen - Important */
@media (max-width: 1200px){
    .Section1Contact{
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 64px;
        padding-left: 75px;
        padding-bottom: 75px;
        background-color: #fff;
    }
    .Section1ContactForm{
        width: 80%;
        margin-top: 50px;
        background-color: #fff;
    
    }
    .Section1ContactForm h2{
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 12px;
    }
    .Section1ContactForm hr{
        border: 1.4px solid #000;
        width: 20%;
        margin-bottom: 50px;
    }
    
    .Section1ContactForm form input{
        display: block;
        width: 100%;
        background: #eaeaea;
        padding: 10px;
        font-size: 10px;
        border: 0;
        outline: 0;
        margin-bottom: 10px;
        margin-top: 11px;
        resize: none;
        border-radius: 10px;
    }
    .Section1ContactForm form textarea{
        display: block;
        width: 100%;
        background: #eaeaea;
        padding: 12px;
        font-size: 10px;
        border: 0;
        outline: 0;
        margin-bottom: 4px;
        margin-top: 11px;
        resize: none;
        border-radius: 10px;
    }
    
    .Section1ContactForm form label{
        font-weight: 700;
        font-size: 10px;
        color: #666666;
    }
    
    .Section1ContacttcontactBtn{
        background: #977347;
        color: #fff;
        padding: 12px 25px;
        font-size: 10px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 38px;
    }
    
    
    .Section1ContactImage{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: end;
    
    }
    .Section1ContactImage img{
        width: 85%;
    }
}


/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section1Contact{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 81px;
        background-color: #fff;
    }

    .Section1ContactImage{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -12px;

    
    }
    .Section1ContactImage img{
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 84%);
    }


    .Section1ContactForm{
        width: 100%;
        margin-top: -40px;
        margin-left: 16px;
        margin-right: 16px;
        background-color: #fff;
        order: 2;
    
    }
    .Section1ContactForm h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .Section1ContactForm hr{
        border: 1.4px solid #000;
        width: 26%;
        margin-bottom: 81px;
    }
    

    .Section1ContactForm form input{
        display: block;
        width: 92%;
        background: #eaeaea;
        padding: 22px;
        border: 0;
        outline: 0;
        margin-bottom: 24px;
        margin-top: 11px;
        resize: none;
        border-radius: 14px;
    }
    .Section1ContactForm form textarea{
        display: block;
        width: 92%;
        background: #eaeaea;
        padding: 22px;
        border: 0;
        outline: 0;
        margin-bottom: 24px;
        margin-top: 11px;
        resize: none;
        border-radius: 14px;
    }
    
    .Section1ContactForm form label{
        font-weight: 700;
        font-size: 14px;
        color: #666666;
    }
    
    .Section1ContacttcontactBtn{
        background: #977347;
        color: #fff;
        padding: 16px 32px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 58px;
    }
    
    
    
}