/* Ultra-Wide Screen - Important */
@media (max-width: 2300px){
    .Section2Journal{
        background-color: #fff;
        padding: 100px 200px;
    }
    .Section2JournalContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-bottom: 120px;
    }
    .journal-format{
        width: 100%;
        background: #fff;
        border-radius: 30px;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    }
    .journal-format img{
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 24px;
    }
    .Section2JournalTitle{
        margin-bottom: 12px;
        font-size: 26px;
    }
    .journal-format hr{
        margin-bottom: 20px;
        border: 1px solid #977347;
        width: 37%;
    
    }
    .Section2JournalBody{
        margin-bottom: 25px;
        font-size: 26px;
        font-weight: 400;
        line-height: 40px;
    
    }
    .Section2Date{
        margin-bottom: 100px;
        text-align: end;
        color: #666666;
        font-size: 26px;
    }
    
    /* Next and Prev*/
    .Section2JournalNextPrevHolder{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .Section2JournalNextPrev{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .Section2JournalcontactBtn{
        background: transparent;
        border: 0px solid transparent;
        width: 5%;
    }
    .Section2JournalcontactBtn img{
        width: 50%;
    }
    .Section2JournalNumbers{
        margin-left: 1px;
        margin-right: 1px;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .num{
        font-size: 26px;
        font-weight: 300;
    }
    .Section2JournalNumbers button{
        background: transparent;
        border: 0px solid transparent;

    }
    .numbold{
        font-size: 26px;
        font-weight: 700;
    }
    
}

/* Laptop Screen - Important */
@media (max-width: 1900px){
    .Section2Journal{
        background-color: #fff;
        padding: 60px 120px;
    }
    .Section2JournalContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-bottom: 120px;
    }
    .journal-format{
        width: 100%;
        background: #fff;
        border-radius: 20px;
        padding: 16px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    }
    .journal-format img{
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 24px;
    }
    .Section2JournalTitle{
        margin-bottom: 12px;
    }
    .journal-format hr{
        margin-bottom: 12px;
        border: 1px solid #977347;
        width: 35%;
    
    }
    .Section2JournalBody{
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    
    }
    .Section2Date{
        margin-bottom: 50px;
        text-align: end;
        color: #666666;
    }
    
    /* Next and Prev*/
    .Section2JournalNextPrevHolder{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Section2JournalNextPrev{
        display: flex;
        align-items: center;
        width: 15%;
    }
    .Section2JournalcontactBtn{
        background: transparent;
        border: 0px solid transparent;
    }
    .Section2JournalNumbers{
        margin-left: 12px;
        margin-right: 12px;
        width: 200%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .num{
        font-size: 18px;
        font-weight: 300;
    }
    .Section2JournalNumbers button{
        background: transparent;
        border: 0px solid transparent;
    }
    .numbold{
        font-size: 18px;
        font-weight: 700;
    }
    
}




/* Tablets Screen - Important */
@media (max-width: 1200px){

    .Section2Journal{
        background-color: #fff;
        padding: 40px 75px;
    }
    .Section2JournalContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 120px;
        width: 100%;
    }
    .journal-format{
        width: 100%;
        background: #fff;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
    }
    .journal-format img{
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 24px;
    }
    .Section2JournalTitle{
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 8px;
        text-align: start;
        width: 100%;
    }
    .journal-format hr{
        margin-bottom: 10px;
        border: 0.5px solid #977347;
        width: 35%;
    
    }
    .Section2JournalBody{
        margin-bottom: 12px;
        font-size: 8px;
        font-weight: 400;
        line-height: 13px;
        width: 95%;
    
    }
    .Section2Date{
        margin-bottom: 25px;
        text-align: end;
        color: #666666;
        font-size: 8px;
    }
    
    /* Next and Prev*/
    .Section2JournalNextPrevHolder{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Section2JournalNextPrev{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .Section2JournalcontactBtn{
        background: transparent;
        border: 0px solid transparent;
        width: 10%;
    }
    .Section2JournalNumbers{
        margin-left: 1px;
        margin-right: 1px;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .num{
        font-size: 14px;
        font-weight: 300;
    }
    .Section2JournalNumbers button{
        background: transparent;
        border: 0px solid transparent;

    }
    .numbold{
        font-size: 14px;
        font-weight: 700;
    }
}


/* Mobile Screen - Important */
@media (max-width: 650px){
    .Section2Journal{
        background-color: #fff;
        padding: 60px 16px;
    }
    .Section2JournalContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        margin-bottom: 120px;
    }
    .journal-format{
        width: 100%;
        background: #fff;
        border-radius: 20px;
        padding: 16px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    }
    .journal-format img{
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 24px;
    }
    .Section2JournalTitle{
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 700;
    }
    .journal-format hr{
        margin-bottom: 12px;
        border: 1px solid #977347;
        width: 35%;
    
    }
    .Section2JournalBody{
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        width: 93%;
    
    }
    .Section2Date{
        margin-bottom: 50px;
        text-align: end;
        color: #666666;
    }
    
    /* Next and Prev*/
    .Section2JournalNextPrevHolder{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Section2JournalNextPrev{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .Section2JournalcontactBtn{
        background: transparent;
        border: 0px solid transparent;
    }
    .Section2JournalNumbers{
        margin-left: 12px;
        margin-right: 12px;
        width: 200%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .num{
        font-size: 16px;
        font-weight: 300;
    }
    .Section2JournalNumbers button{
        background: transparent;
        border: 0px solid transparent;
    }
    .numbold{
        font-size: 16px;
        font-weight: 700;
    }
}
