.SectionThree{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-right: 120px;
    justify-content: space-between;

}
.threeTextRegion{
    width: 65%;

}
.threeTextRegion p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.threeImageRegion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

}
.threeImageRegion img{
    width: 43.5%;
}
.threeImageRegion div{
    margin-left: 10px;
}

/* Mobile Screen - Important */
@media (max-width: 650px){
    .SectionThree{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 16px;
        margin-right: 16px;
    
    }
    .threeTextRegion{
        width: 100%;
        margin-bottom: 32px;
    
    }
    .threeTextRegion p{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: start;
    }
    .threeImageRegion{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    
    }
    .threeImageRegion img{
        width: 48%;
    }
    .threeImageRegion div{
        margin-left: 10px;
    }
}






/*
.SectionThree{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-right: 120px;
    width: 75%;
    justify-content: space-between;
    background-color: aqua;

}
.threeTextRegion{
    width: 44%;

}
.threeTextRegion p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.threeImageRegion{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: aqua;

}
.threeImageRegion img{
    width: 60%;
}
.threeImageRegion div{
    margin-left: 10px;
}


*/